.error {
  font-size: 50px;
  font-style: italic;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.text {
  font-size: 40px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.link {
  font-size: 40px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}